html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
  outline: none;
}

button:disabled {
  cursor: default;
}

input {
  outline: none;
}

.is-active{
 font-weight: bold;

}